annotated-doc
anyio
asgiref
certifi
click
diskcache
Django
pgvector
psycopg2-binary
filelock
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
Jinja2
joblib
llama-cpp-python
markdown-it-py
MarkupSafe
mdurl
mpmath
narwhals
networkx
numpy
packaging
Pygments
python-dotenv
PyYAML
regex
rich
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
sqlparse
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing_extensions
